# Node.js
node_modules
.env
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/*

# Build
dist
build

# Uploads & storage
backend/media_storage/uploads/*
!backend/media_storage/uploads/.gitkeep

# Trash
backend/media_storage/lists/trash.json